tags
.clang_complete
include/config.h

Makefile.in
Makefile
include/config.h.in
libltdl
ltmain.sh
missing
ylwrap
aclocal.m4
autom4te.cache/
config.guess
config.log
config.sub
configure
install-sh
Makefile.mingw
config.status
include/config.h
include/stamp-h1
libtool

*.o
*.a
*.5
*.8
