Makefile.in
Makefile
include/config.h.in
libltdl
ltmain.sh
missing
ylwrap
aclocal.m4
autom4te.cache/
config.guess
config.log
config.sub
configure
include/config.h.in~
install-sh
Makefile.mingw
config.status
include/config.h
include/stamp-h1
libtool

*.o
*.a
*.5
*.8

*.lo
*.la
.dirstamp
.libs/

utils/etterfilter/ef_grammar.c
utils/etterfilter/ef_grammar.h
utils/etterfilter/ef_syntax.c

src/ettercap
utils/etterfilter/etterfilter
utils/etterlog/etterlog
