[Desktop Entry]
Name=Ettercap
Comment=Network sniffer/analyser
Exec=su-to-root -X -c "/usr/sbin/ettercap --gtk"
Icon=ettercap
Terminal=false
Type=Application
Categories=Network;
