[Desktop Entry]
Name=Ettercap
Comment=Nework sniffer/analyser
Exec=ettercap-pkexec -G
Icon=ettercap
Terminal=false
Type=Application
Categories=Network;
